p Welcome to the <b>Pathfinder Adventurer's Guide</b>.
p This guide is designed to help players navigate the complex world of the Pathfinder roleplaying game. The Guide does not present new content, instead it organizes existing content in a way that will help you to build your character.
p The Guide is designed to help answer common questions around building and growing a character. Some sample questions:
ul
  li <a href='/def/ac'>How do I improve my AC?</a>
  li <a href='/combat/ac'>How do I get a better Attack Bonus?</a>
  li <a href='/stats/int'>What races get an Intelligence bonus?</a>
