include mixins.jade

!!! 5
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title PF Adventurer's Guide
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    #header
      h1 Pathfinder Adventurer's Guide
    #content
      != body
    #left
      mixin menu_vertical(menu_items)
    #right
      h2 Right bar
        p ads go here

    #footer
      p.
        Copyright&copy; 2012 Pathfinder Adventurer's Guide. All Rights Reserved. <br />
        Template by <a href="http://www.karenblundell.com/">arwen54</a>
