!!! 5
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title PF Adventurer's Guide
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    #header
      h1 Pathfinder Adventurer's Guide
    #content
      != body
    #left
      h2 Home
      h2 Stats
      ul
         li <a href='/stats/str'>Strength</a>
         li <a href='/stats/dex'>Dexterity</a>
         li <a href='/stats/con'>Constitution</a>
         li <a href='/stats/int'>Intelligence</a>
         li <a href='/stats/wis'>Wisdom</a>
         li <a href='/stats/cha'>Charisma</a>
      h2 Defenses
      ul
         li <a href='/def/ac'>Armor Class</a>
         li <a href='/def/ref'>Reflex</a>
         li <a href='/def/fort'>Fortitude</a>
         li <a href='/def/will'>Will</a>
         li <a href='/def/hp'>Hit Points</a>
      h2 Combat
      ul
         li <a href='/combat/base'>Base Attack Bonus</a>
         li Combat Maneuvers
      h2 Spells
      ul
         li Common Spells
         li Magic Items
      h2 Feats
      h2 Skills
    #right
      h2 Right bar
         p ads go here

    #footer
      p.
        Copyright&copy; 2012 Adventurer's Guide. All Rights Reserved. <br />
        Template by <a href="http://www.karenblundell.com/">arwen54</a>
