h1 Ability Scores pages

ul
  li <a href="/stats/str">Strength</a>
  li <a href="/stats/dex">Dexterity</a>
  li <a href="/stats/con">Constitution</a>
  li <a href="/stats/int">Intelligence</a>
  li <a href="/stats/wis">Wisdom</a>
  li <a href="/stats/cha">Charisma</a>

h1 Ability Scores Overview

p Each character's basic capacities are defined by the following 6 ability scores. Increasing these ability scores will increase some key aspect of your character: better attacks, better spells, better saves, more hit points, etc.

p As your PC levels, the monsters you fight will generally have better and better ability scores. Improving your ability scores is key in order to keep up with the growing difficulty of these monsters.

h1 Basic Overview

p There are three basic methods for improving an ability score during the course of the game.

h2 Leveling up

p Every 4th level, a PC receives a +1 bonus to one ability score. Over 20 levels, this represents a +5 possible increase.

h2 Enhancement

p Each ability has an enhancement spell associated with it, such as <a href='http://www.d20pfsrd.com/magic/all-spells/b/bull-s-strength'>Bull's Strength</a>. These spells provide a few minutes of enhancement bonus to a particular ability score. These are all 2nd level spells, widely available among the various spell-casting classes.

p These spells form the basis for the various belts and headbands that provide more permanent bonuses to ability scores. You will generally seek to acquire these early on particularly for your class's primary stat.

p Note that these do not stack, so if your belt improves your strength by +4, then a Bull's Strength spell does not provide any further bonus to you.

h2 Wish & Miracle

p The two most powerful spells in the game are <a href="http://www.d20pfsrd.com/magic/all-spells/w/wish">Wish</a> (arcane) and <a href="http://www.d20pfsrd.com/magic/all-spells/m/miracle">Miracle</a> (divine). These spells can be used to provide an inherent bonus to an ability.

p Note that each casting of these spells costs 25,000gp and they are only available to 18th level casters. Therefore this option is not generally available outside of high level campaigns.

p The magic items list contains a series of manuals and tomes that, when read, can provide the same benefit as the Wish/Miracle spell. These books cost around 27,500gp per +1, making them slightly more expensive unless they are found in a treasure trove somewhere.

h1 Basic Advice

ul
  li Each class typically has one key ability score that is central to their abilities. You will want to find the appropriate belt or headband in the early levels.
  li Many classes also have a secondary ability score that is also important. Know which one this is and plan accordingly as that secondary score will change the magical items you seek out. There are two ways this will work out based on whether this secondary ability is the same "type" (physical/mental) as your primary ability score.
    ul
      li If your primary and secondary are different types then they are easy to upgrade separately. For example, if you have a wizard with a primary ability score of Int a secondary score of Dex (<i>say for ranged touch spells</i>), then you can buy <a href="http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/h-l/headband-of-vast-intelligence">Headband of Vast Intelligence</a> and the <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/belt-of-incredible-dexterity'>Belt of Incredible Dexterity</a> and upgrade these separately.
      li If your primary and secondary are the same type, then you have to make a decision on which path to take. Both the belts and the headbands have an item that upgrades two stats at once: <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/belt-of-physical-might'>Belt of Physical Might</a> or the <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/h-l/headband-of-mental-prowess'>Headband of Mental Prowess</a>. However, adding the second ability to the same object makes that object much more expensive.<br />For a simple example, take a fighter that wants to improve both Str and Con. Her first purchase is a belt for Str (+2) that costs 4,000gp. However, the next purchase is not clear. She either has to improve her Belt of Giant Strength (+4 Str) or move to a Belt of Physical Might (+2 Str / +2 Con). The two +2s cost less than the single +4, but upgrading the two +2s to two +4s or two +6 becomes very expensive and is hard to do in small bursts. You will have to save up much longer between upgrades.
  li If both of your ability scores have the same type, don't forget about the other item. If your fighter is saving up for the next belt, you'll notice that headbands suddenly seem quite cheap. At later levels, the 4,000 gp for a Wisdom headband is likely worth the +1 to Will saves (<i>a fighter's worst save</i>).
  li If your party has spell-casters or scrolls/potions/wands with enhancement spells, focus on your weaker abilities instead of your stronger ones. Most PCs already have some enhancement bonus on their main ability score from their headband or belt. So the goal of using spells or wands is to shore up the holes. <br />The key abilities here are <a href='/stats/dex'>Dex</a>, <a href='/stats/con'>Con</a> & <a href='/stats/wis'>Wis</a>. A temporary boost to any of these will improve the associated saves. A boost to Dex will improve AC and a boost to Con will provide temporary HP. The other stats are typically not worth pumping temporarily around combat. However, a Charisma boost can be useful for planned interactions with NPCs.

h1 Max PC Values

p For someone attempting to maximize a single score, here is a break down of the maximum value by level 20: <br />18 base<br />+2 racial<br />+5 from levels (to 20)<br />+5 from "wishes" or books<br />+6 from belts / headbands<br />36 total

p However, there is an exception here with regards to age. As a character ages, their mental ability scores improve while their physical ability scores deteriorate. At Venerable age (70+) for a human, a character would have an additional +3 to each of their mental abilities. However, these would be offset by a -6 to each of their physical abilities. So the true max for mental stats would be 39.

