h1 Strength

h1 Bonuses / modifiers

p Strength provides a modifier to the following actions:
  ul
    li <a href='/combat/base'>Base attack bonus</a> for melee weapons
    li <a href='/combat/damage'>Damage rolls</a> with melee or thrown weapons
    li <a href='http://www.d20pfsrd.com/skills/climb'>Climb skill</a>
    li <a href='http://www.d20pfsrd.com/skills/swim'>Swim skill</a>
    li Combat Maneuvers

h1 Improving your Strength

p There are several avenues for improving this ability. The abilities within a category do not stack. You cannot have two enhancement bonuses active at once, only the largest bonus takes effect

p Note that every two points of ability improvement provides a one point modifier to the relevant abilities listed above.

h2 Racial bonuses

p The following races receive racial bonsues to their strength.

ul
  li <a href="http://www.d20pfsrd.com/races/3rd-party-races/adamant-entertainment/half-ogre">Half-ogre</a>

h2 Enhancment bonuses

p The following items and spells provide an enhancement bonus. Generally the highest enhancement bonus available is +6.

ul
  li <a href="http://www.d20pfsrd.com/magic/all-spells/b/bull-s-strength">Bull's Strength</a> spell (+4)
  li <a href="http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/belt-of-giant-strength">Belt of Giant Strength</a><br />(4,000 gp (<b>+2</b>)  / 16,000 gp (<b>+4</b>) / 36,000 gp (<b>+6</b>))
  li <a href="http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/belt-of-physical-might">Belt of Physical Might</a><br />This belt improves both Strength and one other physical attribute<br />(10,000 gp (+2) / 40,000 gp (+4) / 90,000 gp (+6))

h2 Inherent bonuses

ul
  li <a href="http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/book-manual-of-gainful-exercise">Manual of Gainful Exercise</a>, magical item.<br />(<i>27,500 gp (<b>+1</b>) / 55,000 gp (<b>+2</b>) / 82,500 gp (<b>+3</b>) / 110,000 gp (<b>+4</b>) / 137,500 gp (<b>+5</b>)</i>)
  li ???


