include ../../mixins.jade

h1 Armor

p Armor bonus is based on the armor your character is wearing. This armor may be magically enhanced to increase the bonus. This bonus can also be generated magically using spells or <a href="http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/bracers-of-armor">Bracers of Armor</a> (<i>which effectively replaces the armor</i>).

p Methods to improve include:
  ul
    li Wearing armor
    li Enchanting that armor
    li <b>Spell</b>: <a href='http://www.d20pfsrd.com/magic/all-spells/m/mage-armor'>mage armor</a>
    li <b>Magic Item</b>: <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/bracers-of-armor'>bracers of armor</a>
      mixin magic_item_table([1,2,3,4,5,6,7,8],[1000,4000,9000,16000,25000,36000,49000,64000])