h1 Dexterity

p Dexterity bonus is derived directly from your Dexterity modifier. PCs with a high dexterity are more difficult to hit. PCs with a low dexterity may actually take a penalty on their AC.

h2 Improving

p To improve your armor class see the section on improving your <a href='/stats/dex'>Dexterity Ability Score</a>.

h2 Special Notes

p The Dexterity bonus only applies to situations where your character has some awareness of what's going on and is capable of avoiding the attack. It also only applies after your first regular action in combat (<i>i.e: you are flat-footed</i>). So if you are caught by surprise, you will lose this bonus. This can be mitigated by the <a href='http://www.d20pfsrd.com/classes/core-classes/rogue#TOC-Uncanny-Dodge-Ex-'>Uncanny Dodge</a> feat.

p Dexterity bonus is also limited by your armor. For light armors this bonus tends to be quite high, but for heavy armors this limitation is often +0 or +1.

p The Dexterity bonus can also be a Dexterity <i>penalty</i>. A character with a low Dexterity will lose armor class as a result. Note that this can also be applied in combat to enemies. Spells that cause an enemy to lose Dexterity will typically cause their armor class to drop.

