h1 Dodge

p Dodge bonus is generally available from specific feats or class features. Note that dodge bonuses <b>do</b> stack, so multiple sources of dodge bonus will work together.

p Most dodge bonuses are quite small and tend to be situational.

h2 Improving

table.magic_items
  tbody
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/combat-feats/dodge-combat---final'>Dodge</a>
      td This is the simplest way to acquire a dodge bonus. This feat provides a +1 AC and requires a Dex of 13.
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/combat-feats/combat-expertise-combat'>Combat Expertise</a>
      td Allows you to take a -X on attacks in exchange for a +X dodge bonus, where X is 1 + # of +4 in your attack bonus. So at +8 attack bonus you would get a -3 to attack and +3 dodge AC. <i>note that using this feat still means that you have to make a melee attack, it does not stack with the Total Defense action</i>
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/combat-feats/mobility-combat---final'>Mobility</a>
      td Provides a +4 dodge bonus against attacks of opportunity when moving in or out of threatened squares.
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/combat-feats/underfoot-combat'>Underfoot</a>
      td +2 dodge bonus for small creatures against larger creatures when moving in or out of threatened squares. Also provides a +4 dodge bonus to Acrobatics checks to avoid attacks of opportunity.
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/combat-feats/defensive-weapon-training-combat'>Defensive Weapons Training</a>
      td +2 dodge bonus against weapons of a certain type
    tr
      td.magic_items_bonus Feat
      td Monk Feats
      td Monks have a few feats that grant dodge bonuses while using a certain style. See <a href='http://www.d20pfsrd.com/feats/combat-feats/crane-style-combat-style>Crane Style</a>, <a href='http://www.d20pfsrd.com/feats/combat-feats/djinni-style-combat'>Djinni Style</a>, <a href='http://www.d20pfsrd.com/feats/combat-feats/earth-child-style-combat-style'>Earth Child Style</a>
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/general-feats/favored-defense'>Favored Defense</a>
      td Add half your favored enemy bonus as a dodge bonus to AC / CMD.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/h/haste'>Haste</a>
      td Grants a +1 dodge bonus.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/d/death-from-below'>Death from Below</a>
      td Grants a +1 dodge bonus per size category difference between defender and attacker.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/a/aspect-of-the-stag'>Aspect of the Stage</a>
      td Grants a +2 dodge bonus against attacks of opportunity.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/s/shining-cord'>Shining Cord</a>
      td Grants a +2 dodge bonus against the target of the spell.
    tr
      td.magic_items_bonus Magic Item
      td <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/boots-of-speed'>Boots of Speed</a>
      td (<span class='magic_items_cost'>12,000 gp</span>) Can grant a +1 dodge bonus when activated, as per the Haste spell.
    tr
      td.magic_items_bonus Magic Item
      td <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/m-p/pauldrons-of-the-serpent'>Pauldrons of the Serpent</a>
      td (<span class='magic_items_cost'>3,000 gp</span>) Grants a +2 dodge bonus to avoid attacks of opportunity.
    tr
      td.magic_items_bonus Action
      td <a href='http://www.d20pfsrd.com/gamemastering/combat#TOC-Attack'>Fight Defensively</a>
      td When attacking you can choose to fight defensively. This provides a -4 on the attack in exchange for a +2 dodge bonus. If you have 3 ranks in the <a href='http://www.d20pfsrd.com/skills/acrobatics'>Acrobatics</a> skill, this becomes a +3 dodge bonus.
    tr
      td.magic_items_bonus Action
      td <a href='http://www.d20pfsrd.com/gamemastering/combat#TOC-Total-Defense'>Total Defense</a>
      td When you select this full-round action in combat, your character receives a +4 dodge bonus to their defense. If you have 3 ranks in the <a href="http://www.d20pfsrd.com/skills/acrobatics">Acrobatics</a> skill, this becomes a +6 dodge bonus.
    tr
      td.magic_items_bonus Skill
      td <a href='http://www.d20pfsrd.com/skills/acrobatics'>Acrobatics</a>
      td With 3 ranks of acrobatics you can change the fight defensively bonus to +3 and the total defense bonus to +6.
    tr
      td.magic_items_bonus Race
      td <a href='http://www.d20pfsrd.com/races/core-races/human'>Humans</a>
      td Can take the <i>Heart of the Streets</i> racial trait which grants a +1 dodge bonus when adjacent to two other allies.
    tr
      td.magic_items_bonus Class
      td <a href='http://www.d20pfsrd.com/classes/core-classes/barbarian'>Barbarian</a>
      td Have access to the rage power: <a href='http://www.d20pfsrd.com/classes/core-classes/barbarian/rage-powers/paizo---rage-powers/rolling-dodge-ex'>Rolling Dodge</a>. This power provides a +1 dodge bonus against ranged attacks for every 6 levels of Barbarian attained.
    tr
      td.magic_items_bonus Class
      td <a href='http://www.d20pfsrd.com/classes/prestige-classes/other-paizo/s-z/stalwart-defender'>Stalwart Defender</a>
      td This Prestige class gains a dodge bonus as they improve in level.
    tr
      td.magic_items_bonus Class
      td <a href='http://www.d20pfsrd.com/classes/prestige-classes/core-rulebook/duelist'>Duelist</a>
      td This Prestige Class has an <i>Elaborate Defense</i> ability that grants additional dodge bonuses when fighting defensively.
