h1 Dodge

p Dodge bonus is generally available from specific feats or class features. Note that dodge bonuses <b>do</b> stack, so multiple sources of dodge bonus will work together.

p That said, most dodge bonuses are quite small and tend to be situational.

h2 Improving

ul
  li <b>Feat</b>: <a href='http://www.d20pfsrd.com/feats/combat-feats/dodge-combat---final'>Dodge</a>. This is the simplest way to acquire a dodge bonus. This feat provides a +1 AC and requires a Dex of 13.
  li <b>Feat</b>: <a href='http://www.d20pfsrd.com/feats/combat-feats/combat-expertise-combat'>Combat Expertise</a> allows you to take a -X on attacks in exchange for a +X dodge bonus, where X is 1 + # of +4 in your attack bonus. So at +8 attack bonus you would get a -3 to attack and +3 dodge AC. <i>note that using this feat still means that you have to make a melee attack, it does not stack with the Total Defense action</i>
  li <b>Spell</b>: the <a href='http://www.d20pfsrd.com/magic/all-spells/h/haste'>Haste</a> spell grants a +1 dodge bonus.
  li <b>Magic Item</b>: <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/a-b/boots-of-speed'>Boots of Speed</a> (<span class='magic_items_cost'>12,000 gp</span>) can grant a +1 dodge bonus when activated, as per the Haste spell.
  li <b>Action</b>: <a href='http://www.d20pfsrd.com/gamemastering/combat#TOC-Attack'>Fight Defensively</a>. When attacking you can choose to fight defensively. This provides a -4 on the attack in exchange for a +2 dodge bonus. If you have 3 ranks in the <a href='http://www.d20pfsrd.com/skills/acrobatics'>Acrobatics</a> skill, this becomes a +3 dodge bonus.
  li <b>Action</b>: <a href='http://www.d20pfsrd.com/gamemastering/combat#TOC-Total-Defense'>Total Defense</a>. When you select this full-round action in combat, your character receives a +4 dodge bonus to their defense. If you have 3 ranks in the <a href="http://www.d20pfsrd.com/skills/acrobatics">Acrobatics</a> skill, this becomes a +6 dodge bonus.
  li <b>Race</b>: <a href='http://www.d20pfsrd.com/races/core-races/human'>Humans</a> can take the <i>Heart of the Streets</i> racial trait which grants a +1 dodge bonus when adjacent to two other allies.
  li <b>Class</b>: Barbarians have access to the rage power: <a href='http://www.d20pfsrd.com/classes/core-classes/barbarian/rage-powers/paizo---rage-powers/rolling-dodge-ex'>Rolling Dodge</a>. This power provides a +1 dodge bonus against ranged attacks for every 6 levels of Barbarian attained.
  li <b>Class</b>: the <a href='http://www.d20pfsrd.com/classes/prestige-classes/other-paizo/s-z/stalwart-defender'>Stalwart Defender</a> prestige class gains a dodge bonus as they improve in level.
  li <b>Class</b>: the <a href='http://www.d20pfsrd.com/classes/prestige-classes/core-rulebook/duelist'>Duelist</a> prestige class has an <i>Elaborate Defense</i> ability that grants additional dodge bonuses when fighting defensively.
