// Jade
h1 Insight

p Insight bonuses are quite rare and generally come from magic of the divination type.

h2 Improving

table.magic_items
  tbody
    tr
      td.magic_items_bonus Magic Item
      td <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/h-l/ioun-stones/dusty-rose-prism-ioun-stone'>Ioun Stone</a>
      td Dusty Rose Prism (5,000 gp) grants a +1 insight bonus to AC. <br />May be augmented by a <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/r-z/wayfinder-standard'>Wayfinder</a>.
    tr
      td.magic_items_bonus Feat
      td <a href='http://www.d20pfsrd.com/feats/general-feats/arcane-insight'>Arcane Insight</a>
      td Grants a +1 insight bonus to AC when using the Arcane Shield feat.
    tr
      td.magic_items_bonus Magic Item
      td <a href='http://www.d20pfsrd.com/magic-items/wondrous-items/wondrous-items/c-d/cape-of-bravado'>Cape of Bravado</a>
      td Grants a +1 insight bonus to AC.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/f/foresight'>Foresight</a>
      td Grants a +2 insight bonus to AC whenever you are not flat-footed.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/m/moment-of-prescience'>Moment of Prescience</a>
      td Grants a +X insight bonus to AC for one roll where X is the caster level.
    tr
      td.magic_items_bonus Spell
      td <a href='http://www.d20pfsrd.com/magic/all-spells/t/tactical-acumen'>Tactical Acumen</a>
      td Whenever you would gain a bonus on attack rolls or to AC due to battlefield position, such as flanking, higher ground, or cover, you gain an additional +1 insight bonus.
        table.magic_items
          theader
            th.magic_items_bonus &nbsp;
            th.magic_items_bonus +1
            th.magic_items_bonus +2
            th.magic_items_bonus +3
            th.magic_items_bonus +4
          tbody
            tr
              td.magic_items_bonus Caster Lvl
              td 1
              td 5
              td 10
              td 15
