h1 Natural

p Natural bonuses come from having thick skin, making you more difficult to damage. This can also be enhanced by spells such as <a href='http://www.d20pfsrd.com/magic/all-spells/b/barkskin'>Barkskin</a> that toughen the skin.

h2 Improving