h1 Shield

p Shield bonus is based on the shield your character is carrying (and using). The shield may be magically enhanced to increase the bonus. There are also several spells and magic items which can act as magical shields in place of physical ones.

p Methods to improve include:
  ul
    li Using a shield
    li Enchanting that shield
    li The <a href='http://www.d20pfsrd.com/magic/all-spells/s/shield'>shield spell</a>
    li <b>Magic Item</b>: <a href="http://www.d20pfsrd.com/magic-items/rings/ring-of-force-shield">Ring of Force Shield</a>

