h1 Size

p Size bonus is influenced by the size of your character. For the core PC races this is Small (S) or Medium (M). So small races (Halflings, Dwarves and Gnomes) will receive a +1 on this stat.

p Note that some spells, such as <a href='http://www.d20pfsrd.com/magic/all-spells/r/righteous-might'>Righteous Might</a> can change the size of the PC which will affect their AC.

table.magic_items
  theader
    th.magic_items_bonus Bonus
    th.magic_items_bonus Size
  tbody
    tr
      td.magic_items_bonus +8
      td Fine
    tr
      td.magic_items_bonus +4
      td Diminutive 
    tr
      td.magic_items_bonus +2
      td Tiny
    tr
      td.magic_items_bonus +1
      td Small 
    tr
      td.magic_items_bonus 0
      td Medium 
    tr
      td.magic_items_bonus -1
      td Large
    tr
      td.magic_items_bonus -2
      td Huge
    tr
      td.magic_items_bonus -4
      td Gargantuan
    tr
      td.magic_items_bonus -8
      td Colossal
