h1 Size

p Size bonus is influenced by the size of your character. For the core PC races this is Small (S) or Medium (M). So small races (Halflings, Dwarves and Gnomes) will receive a +1 on this stat.

p Note that some spells, such as <a href='http://www.d20pfsrd.com/magic/all-spells/r/righteous-might'>Righteous Might</a> can change the size of the PC which will affect their AC.

table.magic_items
  theader
    th.magic_items_bonus &nbsp;
    th.magic_items_bonus +8
    th.magic_items_bonus +4
    th.magic_items_bonus +2
    th.magic_items_bonus +1
    th.magic_items_bonus 0
    th.magic_items_bonus -1
    th.magic_items_bonus -2
    th.magic_items_bonus -4
    th.magic_items_bonus -8
  tbody
    tr
      td.magic_items_bonus Size
      td Fine
      td Diminutive 
      td Tiny
      td Small 
      td Medium 
      td Large
      td Huge
      td Gargantuan
      td Colossal
