h1 Armor Class Sources

p Armor Class represents the difficulty of hitting you with an attack. Your AC stems from a combination of seven different sources. Each of these is detailed in the sections below.

p Additionally you have three different statuses related to AC:
  ol
    li <b>Normal</b>: The normal state. Allows you to use all of your bonuses.
    li <b>Flat-footed</b>: When you are surprised or unaware, or before you have had your first chance to act. No benefit from your movement-related bonuses (<i>dexterity and dodge</i>). 
    li <b>Touch</b>: The difficulty of simply touching you, typically for a spell. No benefit from your physical armor bonuses (<i>armor, shield, natural</i>).

p Refer to the following table for the basic calculation of your AC. Your total is the sum of the numbers in the given row (left-to-right).

table.magic_items
  theader
    th.magic_items_bonus Status
    th.magic_items_bonus Base
    th.magic_items_bonus Size
    th.magic_items_bonus Armor
    th.magic_items_bonus Shield
    th.magic_items_bonus Natural
    th.magic_items_bonus Dex
    th.magic_items_bonus Dodge
    th.magic_items_bonus Deflection
  tbody
    tr
      td.magic_items_bonus Normal
      td 10
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
    tr
      td.magic_items_bonus Touch
      td 10
      td &nbsp; 
      td(style="border:none;text-align:center;") &nbsp;
      td(style="border:none;text-align:center;") &nbsp;
      td(style="border:none;text-align:center;") &nbsp;
      td &nbsp; 
      td &nbsp;  
      td &nbsp; 
    tr
      td.magic_items_bonus Flat-Footed
      td 10
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td &nbsp; 
      td(style="border:none;text-align:center;") &nbsp;
      td(style="border:none;text-align:center;") &nbsp;
      td &nbsp; 

 
