h1 Defenses Overview

p The defenses section is focused on ways to avoid death. This includes the typical defenses, but also includes things like Hit Points, Resistances and Immunities, protection from spells and even some common spells.

p When it comes to building defenses, the game involves <i>"lots of +1s"</i>. That is to say that you will build out good defenses incrementally by layering bonuses from various sources. 

p The main reason for this is cost. If a caster has bracers of armor +1, it will cost 3,000 gp to move to a +2. However, it will only cost 2,00 gp to add a ring of protection +1 which will grant the same effective AC.

h2 The Main Defenses

p PF has 4 major defenses: <a href='/def/ac'>Armor Class</a>, <a href='/def/ref'>Reflex save</a>, <a href='/def/fort'>Fortitude save</a>, <a href='/def/will'>Will save</a>. Armor class is a measure of how difficult you are to hit. The three saves are generally a measure of your ability to survive "bad stuff" from happening, typically in the form of spells.

p The four defenses will largely be governed by your class and your ability scores. If you cannot wear armor or shields, then your Armor Class is likely to be low. If your class does not have a good Fortitude or good Con, then that save will likely be low.

p As the classes are designed, it is almost impossible to have high scores in all four defenses. Instead, the key is to build out important defenses for your class (<i>AC for fighters, Ref for ranged attackers</i>) and then shore up your weakest scores with the appropriate magic items.

p See the individual pages for various options to boost each defense.

h2 The Secondary Defenses

p Once an enemy has defeated your Armor Class, it helps to have lots of <a href='/def/hp'>Hit Points</a>. However, there are also ways to reduce the amount of damage you take from a given blow via <a href='/def/resistance'>Damage Reduction and Energy Resistance</a>.

p At higher levels, there are also some tools to protect from or nullify spells. These tools are often quite expensive, but almost required at the highest levels.

