include ../../mixins.jade

// Jade
table.magic_items
  tbody
    tr
      td.magic_items_bonus Trait
      td <a href='http://www.d20pfsrd.com/traits/combat-traits/deft-dodger'>Deft Dodger</a>
      td +1 trait bonus on reflex saves